/* line 2, ../scss/_main.scss */
.is-hidden, .swiper-container-horizontal.swiper-container .swiper-pagination-bullets, .swiper-button-disabled, .slide-info {
  display: none;
}

/* line 6, ../scss/_main.scss */
.slide-arrow, .slide-arrow-next, .slide-arrow-previous {
  top: 90%;
  cursor: pointer;
  margin-top: -24px;
  position: absolute;
  color: #ffffff;
  font-family: icomoon;
  font-size: 48px;
  font-style: normal;
  z-index: 1;
}

/* line 18, ../scss/_main.scss */
html,
body {
  position: relative;
  height: 100%;
}

/* line 24, ../scss/_main.scss */
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* line 33, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container {
  top: 20%;
  width: 75%;
  height: auto;
}
/* line 38, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container:hover .swiper-pagination-bullets {
  display: block;
}
/* line 41, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container:hover .slide-info {
  display: block;
}
/* line 45, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .swiper-pagination-bullets {
  left: 68%;
  top: -10%;
  width: 253px !important;
  transform: translateX(-50%) rotate(90deg);
}
/* line 51, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #919b99;
  margin: 0 7px;
  transform: none;
  width: 15px;
  height: 15px;
  opacity: 1;
}
/* line 58, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:after {
  content: url(data);
  position: absolute;
  top: 40px;
  right: -32px;
  transform: rotate(-90deg);
  height: 10px;
  width: 10px;
  z-index: 10;
}
/* line 69, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #c62127;
}
/* line 73, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .share-bar {
  position: absolute;
  right: 150px;
  width: 200px;
  z-index: 1;
  color: #afafaf;
  font-size: 14px;
  line-height: 20px;
  margin-top: -50px;
  top: 90%;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  /* line 73, ../scss/_main.scss */
  .swiper-container-horizontal.swiper-container .share-bar {
    font-size: 12px;
    line-height: 18px;
    right: 125px;
  }
}
/* line 88, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .share-bar .field-label {
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 92, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .share-bar .share-buttons {
  font-family: "icomoon";
  display: block;
  font-size: 0;
  line-height: 1;
}
/* line 97, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .share-bar .share-buttons div {
  cursor: pointer;
  font-size: 32px;
  display: inline-block;
}
/* line 102, ../scss/_main.scss */
.swiper-container-horizontal.swiper-container .share-bar .share-buttons div:not(:first-child) {
  margin-left: 6px;
}

/* line 109, ../scss/_main.scss */
.swiper-slide {
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 125, ../scss/_main.scss */
.swiper-slide img {
  width: 100%;
  height: auto;
}

/* line 131, ../scss/_main.scss */
.slide-arrow-next {
  right: 40px;
}

/* line 136, ../scss/_main.scss */
.slide-arrow-previous {
  left: 40px;
}
@media (min-width: 1280px) {
  /* line 136, ../scss/_main.scss */
  .slide-arrow-previous {
    right: 90px;
    left: auto;
  }
}

/* line 149, ../scss/_main.scss */
.slide-info {
  background-color: rgba(0, 0, 0, 0.502);
  min-height: 20%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 0 125px 0 45px;
  left: 0;
  bottom: 0;
}
@media (min-width: 1280px) and (max-width: 1900px) {
  /* line 149, ../scss/_main.scss */
  .slide-info {
    padding: 0 125px 0 45px;
  }
}
/* line 162, ../scss/_main.scss */
.slide-info .description {
  color: #f3f3ec;
  display: block;
  font-size: 1.36585vw;
  font-family: "usafontmedium", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  left: 45px;
  overflow: hidden;
  padding: 20px 220px 0 0;
  margin-bottom: 40px;
  text-overflow: ellipsis;
}
/* line 174, ../scss/_main.scss */
.slide-info .slider-counter {
  display: inline-flex;
  text-transform: uppercase;
  padding-right: 375px;
  bottom: 5px;
  color: #afafaf;
  font-size: 23px;
  font-family: "usafontmedium", Helvetica, Arial, sans-serif;
  left: 45px;
  overflow: hidden;
  position: absolute;
  padding-right: 400px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
@media (min-width: 1280px) and (max-width: 1900px) {
  /* line 174, ../scss/_main.scss */
  .slide-info .slider-counter {
    font-size: 14px;
  }
}
/* line 196, ../scss/_main.scss */
.slide-info .slider-counter .gallery-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 115px);
}
/* line 201, ../scss/_main.scss */
.slide-info .slider-counter .slide-index {
  margin-left: 5px;
  left: 45px;
  overflow: hidden;
  padding-right: 400px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
